<div class="modal fade" id="modal-individual-custodian">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="facilityForm" action="" method="post">
        <div class="modal-header">
          <h4 id="facilityModalTitle" class="modal-title">Individual</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="content">
            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 mb-3">


                <input id="facilityId" type="hidden" class="form-control">

                <div class="form-group mb-3">
                  <label>Custoodian </label>
                  <input id="facilityName" type="text" name="facilityName" class="form-control"
                    placeholder="Facility Name">

                </div>

                <div class="form-group ">
                  <label>Districts</label>

                  <div class="select2-primary">
                    <select id="districtId" name="district" class="form-control" data-placeholder="Select district"
                      data-dropdown-css-class="select2-primary" style="width: 100%;">
                    </select>
                  </div>
                </div>

              </div>


            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
          <button type="button" id="saveFacilityBtn" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>


<div class="modal fade" id="modal-department-custodian">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form id="departmentForm" action="" method="post">
        <div class="modal-header">
          <h4 id="departmentModalTitle" class="modal-title">Department</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="content">
            <div class="row">

              <div class="col-lg-12 col-md-12 col-sm-12 mb-3">


                <input id="custodianId" type="hidden" class="form-control">

                <div class="form-group mb-3">
                  <label>Name</label>
                  <input id="name" type="text" name="name" class="form-control" placeholder="Department Name">

                </div>

                <div class="form-group mb-3">
                  <label>Email</label>
                  <input id="email" type="email" name="email" class="form-control" placeholder="Facility Name">

                </div>

                <div class="form-group mb-3">
                  <label>Phone Number</label>
                  <input id="phoneNumber" type="text" name="email" class="form-control" placeholder="Facility Name">

                </div>

                <div class="form-group ">
                  <label>Description</label>

                  <textarea id="description" type="text" name="description" class="form-control" placeholder="Description"></textarea>
                </div>

              </div>


            </div>
          </div>

        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
          <button type="button" id="saveDepartmentBtn" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>



<div class="modal xxl-modal fade" id="modal-assigned-facilities">
  <div class="modal-dialog  modal-dialog-centered xxl-modal-dialog modal-xl">
    <div class="modal-content xxl-modal-content ">
      <form id="assignedFacilitiesForm" action="" method="post"></form>
      <div class="modal-header">
        <h4 id="assignedUsersModalTitle" class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body xxl-modal-body">


        <div class="card">
          <div class="card-header">

            <div class="row">
              <div class="col-lg-8 col-md-12 col-sm-12 mb-3">
                <div class="input-group ">
                  <input id="selectedFacilityId" type="hidden" class="form-control">
                </div>


                <div class="form-group ">
                  <label>Users</label>

                  <div class="select2-primary">
                    <select id="usersId" name="userId" class="form-control" data-placeholder="Select user"
                      data-dropdown-css-class="select2-primary" style="width: 100%;">
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-lg-4 col-md-6 col-sm-6 mb-3 mt-4">
                <button type="button" id="saveAssignBtn" class="btn btn-primary btn-lg btn-block">Assign</button>
              </div>

            </div>

          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="content">
              <table id="assignedUsersTable" class="table  table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Remove</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Username</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Remove</th>
                  </tr>
                </tfoot>
              </table>
            </div>

            <!-- /.card-body -->
          </div>
        </div>

      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default alt-btn" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<script>

</script>