<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Bookings</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn bg-gradient-success text-left" id="uploadClients"
                        data-toggle="modal" data-target='#modal-booking' data-button-type="add">
                        <i class="fa fa-plus-square"></i> Create Booking
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="bookingsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Booking ID</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <th>ID</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>