<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Events</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn bg-gradient-success text-left" id="uploadClients"
                        data-toggle="modal" data-target='#modal-event' data-button-type="add">
                        <i class="fa fa-plus-square"></i> Add Event
                    </button>
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="eventsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Severity</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Severity</th>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>