<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Custodians</h3>
            <div class="row">
           

                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

                    <button type="button" class="btn bg-gradient-secondary text-left" id="uploadClients"
                        data-toggle="modal" data-target='#modal-individual-custodian' data-button-type="add">
                        <i class="fa fa-plus-square"></i> Add Individual
                    </button>
                  
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="custodiansTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NATIONAL ID</th>
                        <th>FIRSTNAME</th>
                        <th>LASTNAME</th>
                        <th>DATE OF BIRTH</th>
                        <th>PHONE NUMBER</th>
                        <th>CUSTODIAN TYPE</th>
                        <th>ADD DEVICE</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <th>ID</th>
                    <th>NATIONAL ID</th>
                    <th>FIRSTNAME</th>
                    <th>LASTNAME</th>
                    <th>DATE OF BIRTH</th>
                    <th>PHONE NUMBER</th>
                    <th>CUSTODIAN TYPE</th>
                    <th>ADD DEVICE</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>