
<div class="container-fluid">
  <div class="row">
      <div class="col-lg">
          <!-- small box -->
          <div class="small-box bg-info">
              <div class="inner">
                  <h4 id="totalDevices" class="font-weight-bold">0</h4>
                  <p>Total Devices</p>
              </div>
              <div class="icon">
                  <i class="ion ion-stats-bars"></i>
              </div>

           
          </div>
      </div>


      <div class="col-lg">
          <!-- small box -->
          <div class="small-box bg-warning">
              <div class="inner">
                  <h4 id="totalIntrusions" class="font-weight-bold" >0</h4>
                  <p>Total Intrusions</p>
              </div>
              <div class="icon">
                  <i class="ion ion-bag"></i>
              </div>
          </div>
      </div>

      <div class="col-lg">
          <!-- small box -->
          <div class="small-box bg-success">
              <div class="inner">
                  <h4 class="font-weight-bold" id="totalReponses">0</h4>
                  <p>Total Responses</p>
              </div>
              <div class="icon">
                  <i class="ion ion-bag"></i>
              </div>
          </div>
      </div>

      <div class="col-lg">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h4 id="totalCustodians" class="font-weight-bold" >0</h4>
                <p>Total Custodians</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
       </div>
  </div>

  <div class="row">
      <!-- ./col -->
      <div class="col-lg">
        <div class="card h-100">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-chart-pie mr-1"></i>
              Case status comparison by districts
            </h3>
          </div>
          <div class="card-body">
            <div id="districtCasesChart"></div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
</div>