<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Devices</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

              
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="devicesTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Serial Number</th>
                        <th>IP Address</th>
                        <th>Name</th>
                        <th>Device Type</th>
                        <th>MAC Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Serial Number</th>
                        <th>IP Address</th>
                        <th>Name</th>
                        <th>Device Type</th>
                        <th>MAC Address</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>