<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Network Events</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->

              
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="networkEventsTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>Device Name</th>
                        <th>Event Name</th>
                        <th>Severity</th>
                        <th>Protocol</th>
                        <th>Source IP</th>
                        <th>Dest IP</th>
                        <th>Port</th>
                        <th>Created At</th>
                        <th>Flag</th>

                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                
                    <tr>
                        <th>Device Name</th>
                        <th>Event Name</th>
                        <th>Severity</th>
                        <th>Protocol</th>
                        <th>Source IP</th>
                        <th>Dest IP</th>
                        <th>Port</th>
                        <th>Created At</th>
                        <th>Flag</th>
                     
                    </tr>
                
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>