<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Responses</h3>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-12 text-right">
                    <!-- Button for calling add organisation modal -->
                </div>
            </div>

        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table id="responsesTable" class="table  table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Device Name</th>
                        <th>Event Name</th>
                        <th>Action Type</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Device Name</th>
                        <th>Event Name</th>
                        <th>Action Type</th>
                        <th>Description</th>
                        <th>Edit</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>