<li class="nav-item">
  <a href="#" id="dashboard" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5" >Dashboard</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="response-actions" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5" >Reponse Action</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="intrusions" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5" >Intrusions</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="network-events" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5">Network Events</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="events" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5">Events</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="devices" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5">Devices</p>
  </a>
</li>

<li class="nav-item">
  <a href="#" id="custodians" class="nav-link">
    <i class="nav-icon fas fa-tachometer-alt"></i>
    <p class="h5">Custodians</p>
  </a>
</li>






