<li class="nav-item">
    <a href="#" id="geospatial-map" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p>Geospatial Data</p>
    </a>
  </li>
  
  <li class="nav-item">
    <a href="#" id="dashboard"  class="nav-link">
      <i class="nav-icon fas fa-coins"></i>
      <p>Dashboard Stats</p>
    </a>
  </li>
  
  <li class="nav-item">
    <a href="#" id="tabular-stats" class="nav-link">
      <i class="nav-icon fas fa-coins"></i>
      <p>Tabular Stats</p>
    </a>
  </li>
  
  