<li class="nav-item">
    <a href="#" id="geospatial-map" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p class="h5" >Geospatial Data</p>
    </a>
  </li>
  
 <li class="nav-item">
    <a href="#" id="dashboard" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p class="h5" >Dashboard Stats</p>
    </a>
  </li>
  
  
  <li class="nav-item">
    <a href="#" id="tabular-stats" class="nav-link">
      <i class="nav-icon fas fa-tachometer-alt"></i>
      <p class="h5" >Tabular Stats</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" id="clients" class="nav-link">
      <i class="nav-icon fas fa-list"></i>
      <p class="h5" >Clients</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="#" id="cases" class="nav-link">
      <i class="nav-icon fas fa-list"></i>
      <p class="h5" >Cases</p>
    </a>
  </li>