<li>
    <a id="dashboard" href="#" aria-expanded="false"><i class="icon nalika-pie-chart icon-wrap"></i> <span
            class="mini-click-non">Dashboard</span></a>
    <a id="intrusions" href="#" aria-expanded="false"><i class="icon   nalika-bar-chart  icon-wrap"></i> <span
            class="mini-click-non">Intrusions</span></a>
    <a id="intrusion-responses" href="#" aria-expanded="false"><i class="icon nalika-new-file icon-wrap"></i> <span
            class="mini-click-non">Intrusion Responses</span></a>
    <a id="network-events" href="#" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span
            class="mini-click-non">Network Events</span></a>
    <a id="devices" href="#" aria-expanded="false"><i class="icon nalika-diamond  icon-wrap"></i> <span
            class="mini-click-non">Devices</span></a>
    <a id="custodians" href="#" aria-expanded="false"><i class="icon nalika-forms  icon-wrap"></i> <span
            class="mini-click-non">Custodians</span></a>
    <a id="users" href="#" aria-expanded="false"><i class="icon nalika-user icon-wrap"></i> <span
            class="mini-click-non">Users</span></a>

</li>